{% extends 'main/layout.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<div class="features">
    <h1>КТО Я?</h1>
    <h3>Айгерим Габдуллина</h3>
    <p>Брендмейкер врачей с медицинским образованием</p><br>
    <p>Обучила более 300 врачей медблоггингу</p><br>
    <p>Мои доктора выходят на доход 1.000.000тг+</p><br>
    <p>Построила свой личный бренд за год</p><br>
    <p>Вышла на доход из блога с нуля до 20.000.000тг</p><br>
    <button onclick="window.location.href = 'https://www.instagram.com/gabdullina.md/';" class="btn btn-warning">@gabdullina.md</button>
</div>
{% endblock %}