{% extends 'main/layout.html' %}

{% block title %}СММ Докторам{% endblock %}

{% block content %}
<div class="features">
    <h1>ИНТЕНСИВ SMM Докторам</h1>
    <p>После 2х лет работы с более 300 докторами, я вывела стратегию ведения блога, которая легко поможет вам заработать ставку из блога.</p>
    <button onclick="window.location.href = 'news';" class="btn btn-warning">Хочу на обучение</button>
    <p>ЗАПРЫГИВАЙТЕ НА БОРТ И ВЫБИРАЙТЕ СВОЙ МАРШРУТ ПРОЯЛЕНИЯ!</p><br>
    <h4>НА ИНТЕНСИВЕ ВЫ УЗНАЕТЕ:</h4>
    <p>-1- Уникальность Как начать медблог так, чтобы он не стал очередной Википедией и приводил пациентов на услуги именно к вам</p>
    <p>-2- Упаковка Поиск и проявления своего бренда через визуал, сторис и посты. Шапка профиля, которая будет приводить к вам новых людей в блог. Секреты актуальных, которые будут продавать ваши услуги без вас. Частые ошибки в упаковке других медблогов.</p>
    <p>-3- Привлечение Как собрать свою первую заинтересованную аудиторию для дальнейшей монетизации. Фишки монтажа рилз в самом инстаграм. Работающие сценарии рилз для привлечения новых подписчиков.</p>
    <p>-4- Удержание Как писать тексты, мимо которых невозможно равнодушно пройти. Выводить аудиторию на диалог и выстраивать доверительные отношения. Посты и сторис, после которых будут записываться к вам на услуги.</p>


    {% for i in values %}
        <p>{{ i }}</p>
    {% endfor %}

    {% for i in obj %}
        <p>{{ obj.i }}</p>
    {% endfor %}
</div>
{% endblock %}